<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>

</style>
<body>
    <h1>Bienvenido, Administrador</h1>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Asunto</th>
                <th>Descripción</th>
                <th>Fecha Registro</th>
            </tr>
        </thead>
        <tbody>
            {% for ticket in tickets %}
                <tr>
                    <td>{{ ticket['id'] }}</td>
                    <td>{{ ticket['asunto'] }}</td>
                    <td>{{ ticket['descripcion'] }}</td>
                    <td>{{ ticket['fecha_registro'] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>